<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>OpenBook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.openbook.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.openbook.servlet.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>textpostServlet</display-name>
    <servlet-name>textpostServlet</servlet-name>
    <servlet-class>com.openbook.servlet.textpostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>textpostServlet</servlet-name>
    <url-pattern>/textpostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mypostsServlet</display-name>
    <servlet-name>mypostsServlet</servlet-name>
    <servlet-class>com.openbook.servlet.mypostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mypostsServlet</servlet-name>
    <url-pattern>/mypostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allpostsServlet</display-name>
    <servlet-name>allpostsServlet</servlet-name>
    <servlet-class>com.openbook.servlet.allpostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allpostsServlet</servlet-name>
    <url-pattern>/allpostsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.openbook.servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutFilter</display-name>
    <servlet-name>logoutFilter</servlet-name>
    <servlet-class>com.openbook.servlet.logoutFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutFilter</servlet-name>
    <url-pattern>/logoutFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accountServlet</display-name>
    <servlet-name>accountServlet</servlet-name>
    <servlet-class>com.openbook.servlet.accountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accountServlet</servlet-name>
    <url-pattern>/accountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upnameServlet</display-name>
    <servlet-name>upnameServlet</servlet-name>
    <servlet-class>com.openbook.servlet.upnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upnameServlet</servlet-name>
    <url-pattern>/upnameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upemailServlet</display-name>
    <servlet-name>upemailServlet</servlet-name>
    <servlet-class>com.openbook.servlet.upemailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upemailServlet</servlet-name>
    <url-pattern>/upemailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upPassServlet</display-name>
    <servlet-name>upPassServlet</servlet-name>
    <servlet-class>com.openbook.servlet.upPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upPassServlet</servlet-name>
    <url-pattern>/upPassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.openbook.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostPhotoServlet</display-name>
    <servlet-name>PostPhotoServlet</servlet-name>
    <servlet-class>com.openbook.servlet.PostPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostPhotoServlet</servlet-name>
    <url-pattern>/PostPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMyPhoto</display-name>
    <servlet-name>GetMyPhoto</servlet-name>
    <servlet-class>com.openbook.servlet.GetMyPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyPhoto</servlet-name>
    <url-pattern>/GetMyPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DPServlet</display-name>
    <servlet-name>DPServlet</servlet-name>
    <servlet-class>com.openbook.servlet.DPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DPServlet</servlet-name>
    <url-pattern>/DPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MediaServlet</display-name>
    <servlet-name>MediaServlet</servlet-name>
    <servlet-class>com.openbook.servlet.MediaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MediaServlet</servlet-name>
    <url-pattern>/MediaServlet</url-pattern>
  </servlet-mapping>
</web-app>